{% load static %}



<!-- ##### Footer Area Start ##### -->
<footer class="footer-area bg-img" style="background-image: url({% get_media_prefix %}img/bg-img/3.jpg);">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="footer-logo mb-30">
                            <a href="#"><img src="{% get_media_prefix %}img/core-img/logo.png" alt=""></a>
                        </div>
                        <p>Bitki Tutkunu Dostlarla Buluşun! Doğanın Gücünü Evlerinize Taşıyın.</p>
                        <div class="social-info">
                            <a href="https://www.facebook.com" target="_blank"> <i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="https://www.google.com.tr" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        
                    </div>
                </div>

                <!-- Single Footer Widget -->
               

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>İletişim</h5>
                        </div>

                        <div class="contact-information">
                            <p><span>Adresimiz:</span>{{ contact.address }}</p>
                            <p><a href="tel:+905555555555" style="line-height: 1.3;
                                color: #ffffff;
                                margin-bottom: 13px;"><span>Telefon Numaramız:</span> {{ contact.tel }}</a><p>
                            <p><a href="mailto:Growplants@gmail.com" style="line-height: 1.3;
                                color: #ffffff;
                                margin-bottom: 13px;"><span>Email Adresimiz:</span> {{ contact.email }}</a><p>
                            <p><span>Haftaiçi Çalışma Saatleri:</span> {{ contact.calisma_week }}</p>
                            <p><span>Haftasonu Çalışma Saatleri:</span> {{ contact.calisma_weekend }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom Area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
                <!-- Copywrite Text -->
                <div class="col-12 col-md-6">
                   
                </div>
                <!-- Footer Nav -->
                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <nav>
                            <ul>
                                <li><a href="/">Anasayfa</a></li>
                                <li><a href="/about">Hakkımızda</a></li>
                                <li><a href="/portfolio/">Ürünler</a></li>
                                <li><a href="/blog/">Blog</a></li>
                                <li><a href="/contact/">İletişim</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->

{%  include 'includes/scripts.html' %}