{% load static %}

<!DOCTYPE html>
<html lang="en">

{%  include 'includes/head.html' %}

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="{% get_media_prefix %}img/core-img/leaf.png" alt="">
        </div>
    </div>

    

        {%  include 'includes/navbar.html' %}

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({% get_media_prefix %}img/bg-img/24.jpg);">
            <h2>BLOG SAYFAMIZ</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Blog Area Start ##### -->
    <section class="alazea-blog-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <h2>Müşterilerimizin Bahçeleri</h2>
                        <p>Müşterilerimizin Ev, Ofis ve Bahçelerinden Kareler:</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">

                {% for post in posts %}
                        <!-- Single Blog Post Area -->
                        <div class="col-12 col-lg-3">
                            <div class="single-blog-post mb-50">
                                <div class="post-thumbnail mb-30">
                                    <a href=" {% url "single_post" post.pk %}"><img style="height: 200px; width:400px; " src="{{post.file.url}}" alt=""></a>
                                </div>
                                <div class="post-content">
                                    <a href="{% url "single_post" post.pk %}" class="post-title">
                                        <h5>{{ post.name}}</h5>
                                    </a>
                                    <div class="post-meta">
                                        <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> {{post.updated_date}}</a>
                                        <a href="#"><i class="fa fa-tree" aria-hidden="true"></i> {{post.department}}</a>
                                    </div>
                                    <p class="post-excerpt">{{post.description}}</p>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                        
                        <div style="margin-top:20px;margin-bottom:20px;" class="row">
                            <div class="col-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        <li class="page-item {% if not posts.has_previous %}disabled{% endif %}">
                                            <a class="page-link" href="{% if posts.has_previous %}?page=1{% endif %}">
                                                <i class="fa fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                        <li class="page-item {% if not posts.has_previous %}disabled{% endif %}">
                                            <a class="page-link" href="{% if posts.has_previous %}?page={{ posts.previous_page_number }}{% endif %}">
                                                <i class="fa fa-angle-left"></i>
                                            </a>
                                        </li>
                        
                                        {% for num in posts.paginator.page_range %}
                                            {% if num == posts.number %}
                                                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                        
                                        <li class="page-item {% if not posts.has_next %}disabled{% endif %}">
                                            <a class="page-link" href="{% if posts.has_next %}?page={{ posts.next_page_number }}{% endif %}">
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </li>
                                        <li class="page-item {% if not posts.has_next %}disabled{% endif %}">
                                            <a class="page-link" href="{% if posts.has_next %}?page={{ posts.paginator.num_pages }}{% endif %}">
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
            </div>
        </div>
    </section>
    <!-- ##### Blog Area End ##### -->

    {%  include 'includes/footer.html' %}

</body>

</html>